@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    background: hsl(185,075%,39%);
    background-image: url(imagen/bg-pattern-top.svg), url(imagen/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 20vh, left 45vw top 50vh;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.card-container {
    margin: 170px auto 50px;
    width: 330px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    position: relative; 
}

/*Encabezado*/
.header{
  background: url(imagen/bg-pattern-card.svg);
  height: 140px;
}

.perfil {
    position: absolute;
    top:87px;
    left: 35%;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    height: 96px;
}

.card-body{
    background-color: white;
    height: 150px;
    padding: 75px;
    box-sizing: border-box;
    text-align: center;
}

.name{
    font-weight: 700;
    color: hsl(229,23%,23%);
}

.edad, .city{
   color:hsl(227,10%,46%);
}

.city{
    margin-top: 10px;
    font-size: 0.8em;
}

.card-social{
    background-color: white;
    border-top: 1px solid hsl(227,10%,46%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.card-estadisticas{
    text-align: center;
}

.cantidad{
    font-weight: 700;
    margin-bottom: 10px;
    color: hsl(229,23%,23%);
}

.unidad{
    font-size: 0.6em;
    color: hsl(227,10%,46%);
    letter-spacing: 2px;
}

.footer h4{
    text-align: center;
    font-size: 0.8em;
    color: hsl(229,23%,23%);
}

@media screen and (min-whidth:1440px){
    .card-container{
        width: 350px;
    }
}